/*
------------------------------------------------------------------------------


AHS CLASS OF 2019


------------------------------------------------------------------------------
*/

@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';
@import url(https://fonts.googleapis.com/css?family=Sanchez);
html {
    overflow-x: hidden;
}
body {
    overflow-x: hidden;
    background-color: inherit;
    margin: auto;
    color: #434343;
    min-height: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
main {
    flex: 1 0 auto;
}
.parallax-container {
    height: 93vh;
}
.parallax-container .section {
    width: 100%;
}
.pagination .active {
    background-color: #4fc3f7 !important;
}
p {
    font-weight: inherit;
}
a {
    color: #2c3e50 !important;
}
.container-fluid {
    padding-right: 3%;
    padding-left: 3%;
}
nav {
    background: #607D8B !important;
}
.nav-wrapper a {
    color: white !important
}
.brand-logo {
    color: #fff !important;
    font-weight: 500 !important;
    font-size: 1.4rem !important;
}
blockquote {
    border-left: 5px solid #1b3255 !important;
    font-size: 1.1rem;
}
.footer-stuck {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.collapse--title {
    font-size: 2rem;
    font-weight: 400;
}
.news--date {
    font-size: 1rem;
    font-style: italic;
    color: #777777;
}
.section--intro {
    font-size: 3rem;
    background: url(https://4.bp.blogspot.com/-r2FiYQZEtIw/VqzsczvFMLI/AAAAAAAA0KI/CycvlRl4lBY/s1600/materialdesignwall_2.png);
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    margin-bottom: 45px;
}
.styled {
    margin-bottom: 50px;
}
.styled div {
    display: inline-block;
    margin-left: 10px;
    font-size: 10rem;
    font-weight: 100;
    line-height: 1;
    text-align: center !important;
}
@media screen and (max-width: 768px) {
    .styled div {
        font-size: 5rem;
    }
}

/* IE7 inline-block hack */

*+html .styled div {
    display: inline;
    zoom: 1;
}
.styled div:first-child {
    margin-left: 0;
}
.styled div span {
    display: block;
    border-top: 1px solid #cecece;
    padding-top: 3px;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
}
.count {
    font-weight: 200 !important;
}
.ececec {
    background: #f6f6f6
}
.side-nav-title {
    font-weight: 300;
    font-size: 35px;
}
.container--left {
    width: 100% !important;
    padding: 55px;
}
.container--right {
    z-index: 8;
    background-size: cover;
    height: 65vh;
    width: 60%;
    float: right;
}
.content-all {
    max-height: 65vh;
    overflow-y: hidden;
    background: #f6f6f6;
    font-family: 'Sanchez', serif;
}
.content-below-intro {
    height: auto;
    padding: 20px;
    width: 100vw;
    color: #fff;
    font-family: 'Sanchez', serif;
    text-align: center
}
.roboto {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    color: #757575
}
.parallax-container {
    z-index: 8;
}
.tabs {
    background: transparent !important;
}
.tabs a {
    color: white !important;
    font-weight: 500 !important;
    text-transform: uppercase!important;
}
.tabs a:hover {
    background: #607D8B !important;
}
.card .grey-text {
    margin-left: 55px;
}
.button-collapse i {
    font-size: 1.6rem !important;
    margin-right: 20px;
}
nav-wrapper {
    z-index: 500;
}
.navback {
    background: #607D8B !important;
    height: 112px;
}
.vcenter {
    vertical-align: middle;
}
.card-content li {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    margin: 25px;
}
.card-content li a {
    color: #5C6BC0;
}
.inline {
    display: inline-block !important;
}
.flat {
    text-transform: uppercase;
    font-weight: 500;
}
header,
main,
nav{
    padding-left: 300px;
}
@media only screen and (max-width: 992px) {
    header,
    main,
    nav {
        padding-left: 0;
    }
}