/*
------------------------------------------------------------------------------


AHS CLASS OF 2019


------------------------------------------------------------------------------
*/
html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    background-color: inherit;
    margin: auto;
    color: #434343;
    min-height: 100%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
  }
.parallax-container {
    height: 93vh;
}

.parallax-container .section {
    width: 100%;
}

.pagination .active {
    background-color: #4fc3f7 !important;
}

p {
    font-weight: inherit;
}

a {
    color: #2c3e50
}

.container-fluid {
    padding-right: 3%;
    padding-left: 3%;
}

.section--under-intro {
    background-color: #ececec;
    color: #333333;
    position: absolute;
    width: 100%;
    bottom: 0;
    min-height: 20vh;
}

nav a {
    color: #fff !important;
}

nav {
    background: #2c3e50;
}

.brand-logo {
    color: #ececec !important;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.4rem !important;
}

blockquote {
    border-left: 5px solid #1b3255 !important;
    font-size: 1.1rem;
}

.footer-stuck {
    width: 100%;
    bottom: 0;
    position: absolute;
}

.collapse--title {
    font-size: 2rem;
    font-weight: 400;
}

.news--date {
    font-size: 1rem;
    font-style: italic;
    color: #777777;
}

.container-fluid {
    margin-right: 5%;
    margin-left: 5%;
}

.section--intro {
    font-size: 3rem;
    background: #2196f3;
    padding-top: 100px;
    padding-bottom: 100px;
    color: white;
    margin-bottom: 45px;
}

.styled{
  margin-bottom: 50px;
}
.styled div {
  display: inline-block;
  margin-left: 10px;
  font-size: 10rem;
  font-weight: 100;
  line-height: 1;
  text-align: center !important;
}
@media screen and (max-width: 768px) {
    .styled div {
        font-size: 5rem;
    }
}
/* IE7 inline-block hack */
*+html .styled div{
  display: inline;
  zoom: 1;
}
.styled div:first-child {
  margin-left: 0;
}
.styled div span {
  display: block;
  border-top: 1px solid #cecece;
  padding-top: 3px;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: left;
}
.count {
    font-weight: 200 !important;
}
.ececec {
    background: #ececec
}
